KRISTAL_PORTAL_HOST=0.0.0.0
KRISTAL_PORTAL_PORT=8787
KRISTAL_SECRET_KEY=troque_por_uma_chave_forte_com_64_caracteres
KRISTAL_ADMIN_LOGIN=Kristal
KRISTAL_SUPERUSER_PASSWORD=
KRISTAL_DB_PATH=data/kristal_portal.db
KRISTAL_STORAGE_DIR=storage
KRISTAL_BACKUP_DIR=backups
KRISTAL_API_KEY=
KRISTAL_SIRE_BASE_URL=https://sire2025.eb.mil.br/P002_SIRE2025_BL/rest/PostCDM
KRISTAL_SIRE_USERNAME=
KRISTAL_SIRE_PASSWORD=
